<div class="p-grid p-jc-center">
  <div  style="margin-top: 10px;">
    <div class="p-col-10">
      <p-card
        header="Oğuzhan ÇART"
        subheader="Software Developer"
        styleClass="p-card-shadow"
        [style]="{'width': '25rem'}"
        >
        <ng-template pTemplate="header" >
          <img src="" />
        </ng-template>
        <span translate>home.welcomeback</span>: AIFA SOFT
        <p-divider type="dashed"></p-divider>
      <span translate>home.CodingSince</span> : 2018
      </p-card>
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-10 p-offset-1 " style="margin-top: 10px;">
    <p-divider align="center">
      <div class="p-text-uppercase p-text-light" style="color: white" translate>
        home.ABOUTME
      </div>
    </p-divider>
    <p-card>
        <div class="p-text-center" >
          <p translate>
            home.ME
          </p>
        </div>
    </p-card>
  </div>
</div>
