<div class="p-grid p-jc-center">
  <div  style="margin-top: 10px;">
    <div class="p-col-10">
      <p-card
        header="Oğuzhan ÇART"
        subheader="Software Developer"
        styleClass="p-card-shadow"
        [style]="{'width': '25rem'}"
        >
        <ng-template pTemplate="header" >
          <img src="" />
        </ng-template>
        Currently: AIFA SOFT
        <p-divider type="dashed"></p-divider>
        Coding since: 2018
      </p-card>
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-10 p-offset-1 " style="margin-top: 10px;">
    <p-divider align="center">
      <div class="p-text-uppercase p-text-light" style="color: white">
        About Me
      </div>
    </p-divider>
    <p-card>
        <div class="p-text-center" >
          <p>
            Hello, I am Oğuzhan ÇART. Since my childhood, I have had a great fascination with technology and software.
            I have been trying to improve myself in the software field since middle school. <br>
            I studied Informatics Department in Sultangazi Vocational High School. I am currently working as a Front-End Developer. I dedicate myself to continuous improvement and learning. If you have any questions or suggestions, do not hesitate to write.
          </p>
        </div>
    </p-card>
  </div>
</div>
