<!-- TODO: change picture -->
<p-menubar [model]="items" target="_blank">
  <ng-template pTemplate="end">
    <div class="p-d-inline-flex p-flex-wrap">
      <select (change)="useLang($event.target.value)" style="margin-right: 2rem; border-radius: 10%; height:3rem;background-color:transparent; color: rgb(255, 255, 255); width: 5rem; margin-top: 0.50em;">
        <option *ngFor="let item of supportLanguages" align="center" [value]="item">{{item}}</option>
      </select>
      <h4 class="p-d-inline p-mr-2">Oğuzhan ÇART</h4>
    </div>
  </ng-template>
</p-menubar>